@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap");
/*rgb(238, 102, 108)*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #212529;
}

h1,
h2,
h3,
h4,
h5 {
  color: #fff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  display: block;
}

.container, header hgroup, .benefit, .about article {
  width: 60%;
  margin: 0 auto;
}

@media (max-width: 769px) {
  .container, header hgroup, .benefit, .about article {
    width: 90%;
  }
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: fixed;
  top: 0;
  color: #fff;
  z-index: 10;
  padding: 40px 20%;
  width: 100%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

@media (max-width: 769px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 5%;
  }
}

nav.scrollBg {
  padding: 10px 20%;
  background-color: #25235b;
  -webkit-box-shadow: 0 0 20px #212529;
          box-shadow: 0 0 20px #212529;
}

@media (max-width: 769px) {
  nav.scrollBg {
    padding: 10px 5%;
  }
}

nav img {
  height: 35px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 769px) {
  nav ul {
    width: 100%;
    margin-top: 10px;
  }
}

nav ul li {
  text-transform: uppercase;
  font-size: 1.1rem;
  margin-left: 20px;
}

@media (max-width: 769px) {
  nav ul li {
    margin-left: 0;
    font-size: 1rem;
  }
}

nav ul li a {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

nav ul li a:hover {
  color: #ee666c;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../img/header3.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/header3.jpg);
  background-position: center top;
  background-size: 100% 55vh;
  background-repeat: no-repeat;
  height: 70vh;
  position: relative;
}

@media (max-width: 769px) {
  header {
    height: 70vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-size: cover;
    padding-top: 50px;
  }
}

header hgroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #25235b;
  height: 250px;
  position: relative;
  color: #fff;
  text-align: center;
}

@media (max-width: 767px) {
  header hgroup {
    width: 90%;
    height: auto;
    padding: 0 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 70px;
  }
}

header hgroup h1 {
  font-size: 7rem;
  letter-spacing: 2px;
  line-height: 1;
  position: absolute;
  text-transform: uppercase;
  top: 0;
  text-shadow: 0 0 10px #ee666c;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 767px) {
  header hgroup h1 {
    font-size: 4rem;
  }
}

header hgroup h4 {
  line-height: 1;
  color: #fff;
  margin: 0px 0 10px;
  text-transform: uppercase;
  font-size: 1.7rem;
  color: #ee666c;
  font-weight: 600;
  text-shadow: 0 0 1px #fff;
}

@media (max-width: 767px) {
  header hgroup h4 {
    font-size: 2rem;
  }
}

header hgroup p {
  font-size: 1rem;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  header hgroup p {
    font-size: 1rem;
  }
}

header.headerOther {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 45vh;
}

header.headerOther h1 {
  position: relative;
  font-size: 2.5rem;
  padding: 25px 45px;
  line-height: 1;
  background-color: rgba(238, 102, 108, 0.7);
}

@media (max-width: 769px) {
  header.headerOther h1 {
    padding: 20px 35px;
    font-size: 2rem;
  }
}

.benefit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 40px 0;
}

.benefit article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 31%;
          flex: 0 0 31%;
  height: 720px;
}

@media (max-width: 769px) {
  .benefit article {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    height: auto;
    margin-bottom: 30px;
  }
}

.benefit article div {
  padding: 50px 35px;
  background-color: #ee666c;
}

.benefit article div h3 {
  font-size: 1.7rem;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.benefit article div p {
  color: #fff;
  line-height: 1.5;
}

.benefit article div:first-child {
  margin-bottom: 30px;
}

@media (max-width: 769px) {
  .benefit article div:last-child {
    margin-bottom: 0;
  }
}

.benefit article:nth-child(1) {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.benefit article:nth-child(1) div:last-child {
  background-color: #f3f3f2;
}

.benefit article:nth-child(1) div:last-child h3,
.benefit article:nth-child(1) div:last-child p {
  color: #212529;
}

.benefit article:nth-child(2) div:first-child {
  background-color: #25235b;
}

@media (max-width: 769px) {
  .benefit article:nth-child(3) {
    margin-bottom: 0;
  }
}

.benefit article:nth-child(3) div:first-child {
  background-color: #f3f3f2;
}

.benefit article:nth-child(3) div:first-child h3,
.benefit article:nth-child(3) div:first-child p {
  color: #212529;
}

.benefit article:nth-child(3) div:last-child {
  background-color: #25235b;
}

.about {
  padding: 40px 0;
  background: url(../img/bg3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 769px) {
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 769px) {
  .about article:first-child {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.about article:first-child > div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  background-color: #ee666c;
  overflow: hidden;
}

@media (max-width: 769px) {
  .about article:first-child > div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-top: 20px;
  }
}

.about article:first-child > div:last-child {
  padding: 80px 80px 25px;
  text-align: center;
}

@media (max-width: 769px) {
  .about article:first-child > div:last-child {
    padding: 20px 20px 20px;
  }
}

.about article:first-child .owl-theme .owl-dots .owl-dot span {
  width: 40px;
  height: 3px;
  border-radius: 0px;
}

@media (max-width: 769px) {
  .about article:first-child .owl-nav {
    position: relative;
  }
}

.about article:first-child .owl-prev,
.about article:first-child .owl-next {
  position: absolute;
  top: 40%;
  left: -30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 2rem;
  color: #fff;
}

@media (max-width: 769px) {
  .about article:first-child .owl-prev,
  .about article:first-child .owl-next {
    left: -10px;
  }
}

.about article:first-child .owl-next {
  right: -30px;
  left: unset;
}

@media (max-width: 769px) {
  .about article:first-child .owl-next {
    right: -10px;
  }
}

.about article:last-child {
  margin-top: 50px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 769px) {
  .about article:last-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 0px;
  }
}

.about article:last-child p {
  margin-bottom: 20px;
  color: #212529;
}

.about article:last-child div:nth-child(1) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

@media (max-width: 769px) {
  .about article:last-child div:nth-child(1) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.about article:last-child div:nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  position: relative;
}

@media (max-width: 769px) {
  .about article:last-child div:nth-child(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.about article:last-child div:nth-child(2) h2 {
  display: block;
  color: #212529;
  font-size: 6rem;
  -webkit-transform: rotate(-90deg) translate(-50%, -100%);
          transform: rotate(-90deg) translate(-50%, -100%);
  -webkit-transform-origin: center top;
          transform-origin: center top;
  position: absolute;
  left: 0;
  top: 0;
  line-height: 1;
}

@media (max-width: 769px) {
  .about article:last-child div:nth-child(2) h2 {
    -webkit-transform: none;
            transform: none;
    position: relative;
    font-size: 3.5rem;
    margin-bottom: 10px;
  }
}

.about article:last-child div:nth-child(3) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 31%;
          flex: 0 0 31%;
}

@media (max-width: 769px) {
  .about article:last-child div:nth-child(3) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 40px 0;
}

@media (max-width: 769px) {
  .services {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.services aside {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
}

@media (max-width: 769px) {
  .services aside {
    margin-bottom: 20px;
  }
}

.services aside h2 {
  font-size: 6rem;
  color: #212529;
  -webkit-transform: rotate(-90deg) translate(100%, 0);
          transform: rotate(-90deg) translate(100%, 0);
  -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
  text-align: left;
  line-height: 1;
  margin-bottom: 20px;
}

@media (max-width: 769px) {
  .services aside h2 {
    -webkit-transform: none;
            transform: none;
    font-size: 3.5rem;
    text-align: center;
  }
}

.services article {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 65%;
          flex: 0 0 65%;
}

.services article h3 {
  color: #212529;
  font-size: 2rem;
}

.services article hr {
  border: none;
  height: 2px;
  width: 100%;
  background: #ee666c;
  margin: 30px 0;
}

.education, .blog {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.education article, .blog article {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%;
}

@media (max-width: 769px) {
  .education article, .blog article {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-bottom: 20px;
  }
}

.education article div, .blog article div {
  width: 100%;
}

.education article div img, .blog article div img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.education article h2, .blog article h2 {
  font-weight: 400;
  color: #25235b;
  font-size: 2rem;
  line-height: 2;
}

.education article button, .blog article button {
  font-family: "Poppins", sans-serif;
  background-color: #ee666c;
  text-transform: uppercase;
  border: none;
  font-size: 0.9rem;
  margin-top: 20px;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  padding: 15px 35px;
  cursor: pointer;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.education article button:hover, .blog article button:hover {
  background-color: #25235b;
}

.blog p {
  margin-top: 20px;
}

.blog p span {
  border-left: 1px solid #212529;
  margin-left: 5px;
  padding-left: 5px;
}

.blog p::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #ee666c;
  margin: 20px 0 10px;
}

footer {
  background-image: url(../img/footer.jpg);
  padding: 100px 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 769px) {
  footer {
    background-image: url(../img/bg4.jpg);
    padding: 50px 0 20px;
  }
}

footer article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer article img {
  width: auto;
  height: 40px;
}

footer article h2 {
  color: #212529;
  font-weight: 400;
  font-size: 2rem;
}

@media (max-width: 769px) {
  footer article h2 {
    margin-top: 20px;
  }
}

footer article li {
  line-height: 2.5;
}

footer article div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24%;
          flex: 0 0 24%;
}

@media (max-width: 769px) {
  footer article div:nth-child(1) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (max-width: 769px) {
  footer article div:nth-child(2) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
  }
}

@media (max-width: 769px) {
  footer article div:nth-child(3) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
  }
}

@media (max-width: 769px) {
  footer article div:nth-child(4) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

footer article div > a {
  font-size: 3rem;
  margin-right: 10px;
  cursor: pointer;
}

footer article div > a:last-child {
  margin-right: 0;
}

footer article div > a i {
  -webkit-transition: color 0.5s ease, -webkit-transform 1s ease;
  transition: color 0.5s ease, -webkit-transform 1s ease;
  transition: transform 1s ease, color 0.5s ease;
  transition: transform 1s ease, color 0.5s ease, -webkit-transform 1s ease;
}

footer article div > a:hover i {
  color: #25235b;
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}
/*# sourceMappingURL=style.css.map */