// MIXINS
@mixin flex($justify, $align, $direction: row) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin bgBasic($position: center, $size: cover) {
    background-position: $position;
    background-size: $size;
    background-repeat: no-repeat;
}

@mixin btn($bgColor, $bgHover) {
    font-family: $fontFamily;
    background-color: $bgColor;
    text-transform: uppercase;
    border: none;
    font-size: 0.9rem;
    margin-top: 20px;

    color: $white;
    font-weight: 600;
    font-size: 1rem;
    padding: 15px 35px;
    cursor: pointer;
    transition: background-color $transition;
    &:hover {
        background-color: $bgHover;
    }
}
