@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap");

$primaryColor: #25235b;
$secondaryColor: #ee666c; /*rgb(238, 102, 108)*/
$tertiaryColor: #69c5d7;
$black: #212529;
$lightGray: #f3f3f2;
$white: #fff;
$fontSize: 16px;
$fontFamily: "Poppins", sans-serif;
$transition: 0.5s ease;
$boxShadow: 0 0 20px gray;
$py: 40px 0;

// RESET STYLE
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// BASIC STYLE
html {
    scroll-behavior: smooth;
}
body {
    font-family: $fontFamily;
    font-size: $fontSize;
    color: $black;
}

h1,
h2,
h3,
h4,
h5 {
    color: $white;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    width: 100%;
    display: block;
}
.container {
    width: 60%;
    margin: 0 auto;
    @media (max-width: 769px) {
        width: 90%;
    }
}
