@import "starter";
@import "mixins";

nav {
    @include flex(space-between, center);
    position: fixed;
    top: 0;
    color: $white;
    z-index: 10;
    padding: 40px 20%;
    width: 100%;
    transition: $transition;
    @media (max-width: 769px) {
        flex-direction: column;
        padding: 30px 5%;
    }
    &.scrollBg {
        padding: 10px 20%;
        background-color: $primaryColor;
        box-shadow: 0 0 20px $black;
        @media (max-width: 769px) {
            padding: 10px 5%;
        }
    }

    img {
        height: 35px;
    }
    ul {
        @include flex(space-between, center);
        @media (max-width: 769px) {
            width: 100%;
            margin-top: 10px;
        }
        li {
            text-transform: uppercase;
            font-size: 1.1rem;
            margin-left: 20px;
            @media (max-width: 769px) {
                margin-left: 0;
                font-size: 1rem;
            }
            a {
                transition: $transition;
                &:hover {
                    color: $secondaryColor;
                }
            }
        }
    }
}
header {
    @include flex(flex-end, center, column);
    background-image: linear-gradient(rgba(black, 0.6), rgba(black, 0.6)), url(../img/header3.jpg);
    @include bgBasic(center top, 100% 55vh);
    height: 70vh;
    position: relative;
    @media (max-width: 769px) {
        height: 70vh;
        justify-content: center;
        background-size: cover;
        padding-top: 50px;
    }

    hgroup {
        @extend .container;
        @include flex(flex-end, center, column);
        background-color: $primaryColor;
        height: 250px;
        position: relative;
        color: $white;
        text-align: center;
        @media (max-width: 767px) {
            width: 90%;
            height: auto;
            padding: 0 10px;
            justify-content: center;
            padding-top: 70px;
        }
        h1 {
            font-size: 7rem;
            letter-spacing: 2px;
            line-height: 1;
            position: absolute;
            text-transform: uppercase;
            top: 0;
            text-shadow: 0 0 10px $secondaryColor;
            transform: translateY(-50%);
            @media (max-width: 767px) {
                font-size: 4rem;
            }
        }
        h4 {
            line-height: 1;
            color: $white;
            margin: 0px 0 10px;
            text-transform: uppercase;
            font-size: 1.7rem;
            color: $secondaryColor;
            font-weight: 600;
            text-shadow: 0 0 1px $white;
            @media (max-width: 767px) {
                font-size: 2rem;
            }
        }
        p {
            font-size: 1rem;
            margin-bottom: 30px;
            @media (max-width: 767px) {
                font-size: 1rem;
                //margin-top: 20px;
            }
        }
    }
    &.headerOther {
        @include bgBasic(center, cover);
        justify-content: center;
        height: 45vh;
        h1 {
            position: relative;
            font-size: 2.5rem;
            padding: 25px 45px;
            line-height: 1;
            background-color: rgba($secondaryColor, 0.7);
            @media (max-width: 769px) {
                padding: 20px 35px;
                font-size: 2rem;
            }
        }
    }
}
// benefit
.benefit {
    @extend .container;
    @include flex(space-between, center);
    padding: $py;

    article {
        @include flex(flex-end, center, column);
        flex: 0 0 31%;
        height: 720px;
        @media (max-width: 769px) {
            flex: 0 0 100%;
            height: auto;
            margin-bottom: 30px;
        }
        div {
            padding: 50px 35px;
            background-color: $secondaryColor;
            h3 {
                font-size: 1.7rem;
                line-height: 1;
                text-transform: uppercase;
                margin-bottom: 20px;
            }
            p {
                color: $white;
                line-height: 1.5;
            }
            &:first-child {
                margin-bottom: 30px;
            }
            &:last-child {
                @media (max-width: 769px) {
                    margin-bottom: 0;
                }
            }
        }

        &:nth-child(1) {
            justify-content: flex-start;
            div {
                &:last-child {
                    background-color: $lightGray;
                    h3,
                    p {
                        color: $black;
                    }
                }
            }
        }

        &:nth-child(2) {
            div {
                &:first-child {
                    background-color: $primaryColor;
                }
            }
        }
        &:nth-child(3) {
            @media (max-width: 769px) {
                margin-bottom: 0;
            }
            div {
                &:first-child {
                    background-color: $lightGray;
                    h3,
                    p {
                        color: $black;
                    }
                }
                &:last-child {
                    background-color: $primaryColor;
                }
            }
        }
    }
}
// about
.about {
    padding: $py;
    background: url(../img/bg3.jpg);
    @include bgBasic;
    @media (max-width: 769px) {
        @include flex(flex-start, center, column);
    }
    article {
        @extend .container;
        @include flex(space-between, flex-end);
        &:first-child {
            @media (max-width: 769px) {
                order: 2;
            }
            & > div {
                flex: 0 0 48%;
                @media (max-width: 769px) {
                    flex: 0 0 100%;
                    margin-top: 20px;
                }
                background-color: $secondaryColor;
                overflow: hidden;
                &:last-child {
                    padding: 80px 80px 25px;
                    text-align: center;
                    @media (max-width: 769px) {
                        padding: 20px 20px 20px;
                    }
                }
            }
            .owl-theme .owl-dots .owl-dot span {
                width: 40px;
                height: 3px;
                border-radius: 0px;
            }
            .owl-nav {
                @media (max-width: 769px) {
                    position: relative;
                }
            }
            .owl-prev,
            .owl-next {
                position: absolute;
                top: 40%;
                left: -30px;
                transform: translateY(-50%);
                font-size: 2rem;
                color: $white;
                @media (max-width: 769px) {
                    left: -10px;
                }
            }
            .owl-next {
                right: -30px;
                left: unset;
                @media (max-width: 769px) {
                    right: -10px;
                }
            }
        }
        &:last-child {
            margin-top: 50px;
            align-items: flex-start;
            @media (max-width: 769px) {
                flex-direction: column;
                order: 1;
                margin-top: 0px;
            }
            p {
                margin-bottom: 20px;
                color: $black;
            }
            div {
                &:nth-child(1) {
                    flex: 0 0 40%;
                    @media (max-width: 769px) {
                        order: 2;
                    }
                }
                &:nth-child(2) {
                    flex: 0 0 20%;
                    position: relative;
                    @media (max-width: 769px) {
                        order: 1;
                    }
                    h2 {
                        display: block;
                        color: #212529;
                        font-size: 6rem;
                        transform: rotate(-90deg) translate(-50%, -100%);
                        transform-origin: center top;
                        position: absolute;
                        left: 0;
                        top: 0;
                        line-height: 1;
                        @media (max-width: 769px) {
                            transform: none;
                            position: relative;
                            font-size: 3.5rem;
                            margin-bottom: 10px;
                        }
                    }
                }
                &:nth-child(3) {
                    flex: 0 0 31%;
                    @media (max-width: 769px) {
                        order: 3;
                    }
                }
            }
        }
    }
}
// services
.services {
    @include flex(space-between, center);
    padding: $py;
    @media (max-width: 769px) {
        flex-direction: column;
    }
    aside {
        flex: 0 0 30%;
        @media (max-width: 769px) {
            margin-bottom: 20px;
        }
        h2 {
            font-size: 6rem;
            color: $black;
            transform: rotate(-90deg) translate(100%, 0);
            transform-origin: right bottom;
            text-align: left;
            line-height: 1;
            margin-bottom: 20px;
            @media (max-width: 769px) {
                transform: none;
                font-size: 3.5rem;
                text-align: center;
            }
        }
    }
    article {
        flex: 0 0 65%;
        h3 {
            color: $black;
            font-size: 2rem;
        }
        hr {
            border: none;
            height: 2px;
            width: 100%;
            background: $secondaryColor;
            margin: 30px 0;
        }
    }
}
// education
.education {
    padding: $py;
    @include flex(space-between, flex-start);
    article {
        flex: 0 0 32%;
        @media (max-width: 769px) {
            flex: 0 0 100%;
            margin-bottom: 20px;
        }
        div {
            width: 100%;
            img {
                height: 100%;
                object-fit: cover;
            }
        }
        h2 {
            font-weight: 400;
            color: $primaryColor;
            font-size: 2rem;
            line-height: 2;
        }
        button {
            @include btn($secondaryColor, $primaryColor);
        }
    }
}
// blog
.blog {
    @extend .education;
    p {
        margin-top: 20px;
        span {
            border-left: 1px solid $black;
            margin-left: 5px;
            padding-left: 5px;
        }
        &::after {
            content: "";
            display: block;
            width: 50px;
            height: 2px;
            background-color: $secondaryColor;
            margin: 20px 0 10px;
        }
    }
}
// footer
footer {
    background-image: url(../img/footer.jpg);
    padding: 100px 0;
    @include bgBasic;
    @media (max-width: 769px) {
        background-image: url(../img/bg4.jpg);
        padding: 50px 0 20px;
    }
    article {
        @include flex(space-between, flex-start);
        @media (max-width: 769px) {
            //flex-direction: column;
        }
        img {
            width: auto;
            height: 40px;
        }
        h2 {
            color: $black;
            font-weight: 400;
            font-size: 2rem;
            @media (max-width: 769px) {
                margin-top: 20px;
            }
        }
        li {
            line-height: 2.5;
        }
        div {
            flex: 0 0 24%;
            &:nth-child(1) {
                @media (max-width: 769px) {
                    flex: 0 0 100%;
                }
            }
            &:nth-child(2) {
                @media (max-width: 769px) {
                    flex: 0 0 48%;
                }
            }
            &:nth-child(3) {
                @media (max-width: 769px) {
                    flex: 0 0 48%;
                }
            }
            &:nth-child(4) {
                @media (max-width: 769px) {
                    flex: 0 0 100%;
                }
            }
            & > a {
                font-size: 3rem;
                margin-right: 10px;
                cursor: pointer;
                &:last-child {
                    margin-right: 0;
                }
                i {
                    transition: transform 1s ease, color $transition;
                }
                &:hover {
                    i {
                        color: $primaryColor;
                        transform: rotateY(360deg);
                    }
                }
            }
        }
    }
}
