@import "starter";
@import "mixins";

nav {
    @include flex(space-between, center);
    position: fixed;
    top: 0;
    color: $white;
    z-index: 10;
    padding: 40px 20%;
    width: 100%;
    transition: $transition;
    &.scrollBg {
        padding: 10px 20%;
        background-color: $primaryColor;
        box-shadow: 0 0 20px $black;
    }

    img {
        height: 35px;
    }
    ul {
        @include flex(space-between, center);
        li {
            text-transform: uppercase;
            font-size: 1.1rem;
            margin-left: 20px;
            a {
                transition: $transition;
                &:hover {
                    color: $secondaryColor;
                }
            }
        }
    }
}
header {
    @include flex(flex-end, center, column);
    background-image: linear-gradient(rgba(black, 0.6), rgba(black, 0.6)), url(../img/header3.jpg);
    @include bgBasic(center top, 100% 55vh);
    height: 70vh;
    position: relative;

    hgroup {
        @extend .container;
        @include flex(flex-end, center, column);
        background-color: $primaryColor;
        height: 250px;
        position: relative;
        color: $white;
        text-align: center;
        @media (max-width: 767px) {
            width: 90%;
            height: 160px;
        }
        h1 {
            font-size: 7rem;
            letter-spacing: 2px;
            line-height: 1;
            position: absolute;
            text-transform: uppercase;
            top: 0;
            text-shadow: 0 0 10px $secondaryColor;
            transform: translateY(-50%);
            @media (max-width: 767px) {
                font-size: 5rem;
            }
        }
        h4 {
            line-height: 1;
            color: $white;
            margin: 0px 0 10px;
            text-transform: uppercase;
            font-size: 1.7rem;
            color: $secondaryColor;
            font-weight: 600;
            text-shadow: 0 0 1px $white;
            @media (max-width: 767px) {
                font-size: 2rem;
            }
        }
        p {
            font-size: 1rem;
            margin-bottom: 30px;
            @media (max-width: 767px) {
                font-size: 1rem;
            }
        }
    }
    &.headerOther {
        @include bgBasic(center, cover);
        justify-content: center;
        height: 45vh;
        h1 {
            position: relative;
            font-size: 2.5rem;
            padding: 25px 45px;
            line-height: 1;
            background-color: rgba($secondaryColor, 0.7);
        }
    }
}
// education
.education {
    @extend .container;
    @include flex(space-between, center);
    padding: $py;
    article {
        @include flex(flex-end, center, column);
        flex: 0 0 31%;
        height: 720px;

        div {
            padding: 50px 35px;
            background-color: $secondaryColor;
            h3 {
                font-size: 1.7rem;
                line-height: 1;
                text-transform: uppercase;
                margin-bottom: 20px;
            }
            p {
                color: $white;
                line-height: 1.5;
            }
            &:first-child {
                margin-bottom: 30px;
            }
        }

        &:nth-child(1) {
            justify-content: flex-start;
            div {
                &:last-child {
                    background-color: $lightGray;
                    h3,
                    p {
                        color: $black;
                    }
                }
            }
        }

        &:nth-child(2) {
            div {
                &:first-child {
                    background-color: $primaryColor;
                }
            }
        }
        &:nth-child(3) {
            div {
                &:first-child {
                    background-color: $lightGray;
                    h3,
                    p {
                        color: $black;
                    }
                }
                &:last-child {
                    background-color: $primaryColor;
                }
            }
        }
    }
}
// about
.about {
    padding: $py;
    background: url(../img/bg3.jpg);
    @include bgBasic;
    article {
        @extend .container;
        @include flex(space-between, flex-end);
        &:first-child {
            & > div {
                flex: 0 0 48%;
                background-color: $secondaryColor;
                overflow: hidden;
                &:last-child {
                    padding: 80px 80px 25px;
                    text-align: center;
                }
            }
            .owl-theme .owl-dots .owl-dot span {
                width: 40px;
                height: 3px;
                border-radius: 0px;
            }
            .owl-prev,
            .owl-next {
                position: absolute;
                top: 40%;
                left: -30px;
                transform: translateY(-50%);
                font-size: 2rem;
                color: $white;
            }
            .owl-next {
                right: -30px;
                left: unset;
            }
        }
        &:last-child {
            margin-top: 50px;
            align-items: flex-start;
            p {
                margin-bottom: 20px;
                color: $black;
            }
            div {
                &:nth-child(1) {
                    flex: 0 0 40%;
                }
                &:nth-child(2) {
                    //@include flex(flex-start, center, column);
                    flex: 0 0 20%;
                    position: relative;
                    h2 {
                        display: block;
                        color: #212529;
                        font-size: 6rem;
                        transform: rotate(-90deg) translate(-50%, -100%);
                        transform-origin: center top;
                        position: absolute;
                        left: 0;
                        top: 0;
                        line-height: 1;
                    }
                }
                &:nth-child(3) {
                    flex: 0 0 31%;
                }
            }
        }
    }
}
// services
.services {
    @include flex(space-between, center);
    padding: $py;
    aside {
        flex: 0 0 30%;
        h2 {
            font-size: 6rem;
            color: $black;
            transform: rotate(-90deg) translate(100%, 0);
            transform-origin: right bottom;
            text-align: left;
            line-height: 1;
            margin-bottom: 20px;
        }
    }
    article {
        flex: 0 0 65%;
        h3 {
            color: $black;
            font-size: 2rem;
        }
        hr {
            border: none;
            height: 2px;
            width: 100%;
            background: $secondaryColor;
            margin: 30px 0;
        }
    }
}
// footer
footer {
    background-image: url(../img/footer.jpg);
    padding: 100px 0;
    @include bgBasic;
    article {
        @include flex(space-between, flex-start);
        img {
            width: auto;
            height: 40px;
        }
        h2 {
            color: $black;
            font-weight: 400;
            font-size: 2rem;
        }
        li {
            line-height: 2.5;
        }
        div {
            flex: 0 0 24%;
            & > i {
                font-size: 3rem;
                margin-right: 10px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}
